@charset "utf-8";
/*
 * ©2016 Vladimir Stadnik, <mailto:x-doggy@ya.ru>
 * Таблица стилей для Блога Владимира Стадника
 */


/* Main tags */

body {
    margin: 0;
    height: 100%;
    font: 100.1% Arial, sans-serif;
    background-color: #e6e6e6;
}

p, li, dl, dt, dd {
    line-height: 1.4;
    font-size: 90%;
}

dd {
    margin-bottom: 1.1em;
}

a {
    color: #2288bb;
    text-decoration: none;
    border-bottom: 1px solid #2288bb;
    cursor: pointer;
}

a:hover {
    color: #9d2d34;
    border-bottom-color: #9d2d34;
}

pre {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

hr {
    color: #000;
    background-color: #000;
    text-shadow: none;
    box-sizing: content-box;
    height: 0;
}

q {
    quotes: "\201c" "\201d";
}

img {
    max-width: 800px;
}


/* Only for add.php page */

.x-frm {
    width: 70%;
    margin: auto;
}

.x-frm .x-msg__title {
    font-size: 20px;
    width: 600px;
    margin-bottom: 1em;
}

.x-frm .x-msg__body {
    font-size: 15px;
    width: 600px;
    height: 300px;
}

.x-frm .x-msg__enter {
    font-size: 20px;
    margin-top: 5px;
}

.x-tabs > input[type=radio] {
    display: none;
}

.x-tabs > label {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color .3s;
}

.x-tabs > label:hover,
.x-tabs > input[type=radio]:checked + label {
    background: #cfcfcf;
}

.x-tabcontent {
    margin-bottom: 2em;
}

.x-tabcontent > .x-tabset {
    display: none;
}

#rdText:checked ~ .x-tabcontent > section:nth-of-type(1),
#rdExistsfile:checked ~ .x-tabcontent > section:nth-of-type(2) {
    display: block;
    z-index: 1;
}




/* For simple styles */

.x-mod__center {
    text-align: center;
}

.x-mod__mrgn-btm {
    margin-bottom: 5em;
}

.x-mod__mrgn-top {
    margin-top: 5em;
}

.x-mod__underline {
    border-bottom: 1px solid;
}

.x-mod__dim {
    color: #6d6d6d;
    font-size: 10px;
}

/* Common page elements */

.x-wrap {
    margin: 3% 10%;
    padding: 3%;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    background-color: #fff;
}

.x-hgr__title {
    margin-bottom: 1.5em;
}

.x-hgr__message {
    margin: 2.5em 0 1em;
}

.x-title__main {
    margin: 0;
}

.x-title__secondary {
    margin: 0;
    padding: 10px 0;
    font-style: italic;
    font-size: 135%;
    color: #444;
}

.x-title__post {
    margin: 0 0 .5em;
}

.x-title__when {
    letter-spacing: 3px;
    background-color: transparent;
    color: #000;
    margin: 0;
    font-style: italic;
    font-size: 90%;
}

.x-title__link {
    border: none;
}

.x-one-article {
    margin-top: 2.5em;
}

.x-message {
    margin-top: 2em;
}

.x-message li {
    margin: 5px 0 10px;
}

.x-message h5 {
    margin: 30px 0 10px;
}

.x-azure {
    color: #1b7ae0;
    font-family: 'Lucida Console', 'Courier new', monospace;
    font-size: .9em;
}

.x-code {
    background-color: #f9f9fa;
    border: 1px solid rgba(51, 51, 51, .1);
    margin: 1em .5em .5em -1em;
    padding: 1em;
    font-size: 1em;
}

.x-warning {
    border: 1px solid #f30;
    background-color: #f99;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.x-pubtime {
    font-style: normal;
}

.x-share {
    padding-top: .5em;
    border-top: 1px solid #ededed;
    width: 100%;
    table-layout: fixed;
    font-size: 85%;
}

.x-share a {
    border: none;
}

.x-nav-pages {
    margin-top: 3em;
    padding: 1em 0;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.x-nav-pages__links {
    border: 1px solid #444;
    padding: 2px;
    margin-right: 10px;
}

.x-nav-prev-next {
    border-top: 1px solid #ededed;
    margin-top: .5em;
    padding-top: 1em;
}

.x-nav__tbl {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.x-nav__tbl td {
    vertical-align: top;
    padding: 2px 3px;
    width: 50%;
    line-height: 1.5;
    font-size: 85%;
}

.x-nav__tbl td:nth-child(3),
.x-nav__tbl td:nth-child(4) {
    text-align: right;
}

.x-nav__tbl td:nth-child(3) {
    border-left: 1px solid #ededed;
}

.x-foot {
    font-style: italic;
    font-size: 90%;
    border-top: 1px solid #ededed;
    margin-top: 3em;
}

.x-admin-tbl {
    border-collapse: collapse;
    border: 1px solid #444;
    font-size: 80%;
}

.x-admin-tbl th,
.x-admin-tbl td {
    border: 1px solid #444;
    padding: 2px 3px;
}