<main class="x-message">
    <p>Также как и в <a href="post.php?9">прошлый раз</a> нам необходимо пройти по ссылке:<br>
        <a href="https://confluence.jetbrains.com/display/CLION/Early+Access+Program" target="_blank">https://confluence.jetbrains.com/display/CLION/Early+Access+Program</a><br>
        и кликнуть по ссылке в разделе загрузки для Linux:</p>
    <p class="x-mod__center"><img src="img/clion01.png"></p>

    <p>Полученный архив той же командой распаковываем:</p>
    <pre class="x-code"><code class="x-azure">sudo tar xvfz clion-*.gz -C /opt/ &amp;&amp; rm clion-*.gz</code></pre>
    <p>Переходим в каталог с установщиком:</p>
    <pre class="x-code"><code class="x-azure">cd /opt/clion/bin/</code></pre>
    <p>Устанавливаем права на запуск и запускаем установочный скрипт:</p>
    <pre class="x-code"><code class="x-azure">sudo chmod +x ./clion.sh &amp;&amp; ./clion.sh</code></pre>

    <p>Следуйте простым инструкциям по установке:</p>
    <p class="x-mod__center"><img src="img/clion_again_01.png"></p>
    <p class="mrgn">Знакомое диалоговое окно. Мы устанавливаем CLion в первый раз, поэтому жмём второй пункт.</p>

    <p class="x-mod__center"><img src="img/clion_again_02.png"></p>
    <p>За хороший программный продукт не грех и заплатить. Если денег нет, то выбираем “Evaluate for free” для активации бесплатного 30-дневного использования.</p>

    <p class="x-mod__center"><img src="img/clion_again_03.png"></p>
    <p>В окне выбора тем выбирайте что вам нравится. Мне нравится по-прежнему Darcula.</p>

    <p class="x-mod__center"><img src="img/clion_again_04.png"></p>
    <p>Здесь нужно лишь убедиться, что все галочки напротив всяких CMake, C++ и GDB стоят.</p>

    <p class="x-mod__center"><img src="img/clion_again_05.png"></p>
    <p>Это окно настроки дополнительных компонентов, которые могут пригодиться в CLion. Жмём “Customize” в пункте "Version Controls".</p>

    <p class="x-mod__center"><img src="img/clion_again_06.png"></p>
    <p>Я лично пользуюсь системой контроля версий Mercurial, а в дальнейшем собираюсь попрактиковать и Git. Поэтому в данном случае будут актуальны эти галочки. Жмём “Save changes and Go back” и возвращаемся в прежний диалог.</p>

    <p class="x-mod__center"><img src="img/clion_again_07.png"></p>
    <p>На вкладке “Web Development” я убрал галочку “REST client”, потому что не знаю что это такое.</p>

    <p class="x-mod__center"><img src="img/clion_again_08.png"></p>
    <p>На вкладке “Other tools” я убрал галочку на пункте “XSLT и XPath”, поскольку они мне не нужны. Аналогично применяем изменения и возвращаемся.</p>

    <p class="x-mod__center"><img src="img/clion_again_09.png"></p>
    <p>Это окно установки плагинов. Ничего из этого мне не надо. Пропускаем.</p>

    <p class="x-mod__center"><img src="img/clion_again_10.png"></p>
    <p>В окне создания значка для меню я обычно устанавливаю галку «Для всех пользователей».</p>

    <p class="x-mod__center"><img src="img/clion_again_11.png"></p>
    <p>Если вы тоже выбрали этот пункт, то введите пароль пользователя <span class="x-azure">root</span> в окне.</p>

    <p>Вот и всё! Можете с удовольствием пользоваться CLion!</p>
    <p class="x-mod__center"><img src="img/clion_again_12.png"></p>

</main>
