<main class="x-message">
<ol>
<li>Установим необходимые зависимости для работы скрипта:
<pre class="x-code"><code class="x-azure">sudo pacman -S python-lxml python-beautifulsoup4</code></pre>
</li>
<li>Переходим на страничку на гитхабе: <a href="https://github.com/donniebishop/genius_lyrics" target="_blank">https://github.com/donniebishop/genius_lyrics</a></li>
<li>Скачиваем архив: <div class="x-mod__center"><img src="img/genius_lyrics_github.png"></div></li>
<li>Распаковываем архив:
<pre class="x-code"><code class="x-azure">7z x genius_lyrics-master.zip</code></pre>
</li>
<li>Переместим получившуюся папку в системную директорию:
<pre class="x-code"><code class="x-azure">sudo mv genius_lyrics-master/ /usr/local/bin/genius_lyrics/</code></pre>
</li>
<li>Для доступа к этой программе без перехода в эту директорию создадим символическую ссылку:
<pre class="x-code"><code class="x-azure">sudo ln -s /usr/local/bin/genius_lyrics/genius_lyrics.py /usr/local/bin/glyrics</code></pre>
</li>
<li>Всё! Теперь можем искать тексты песен:
<pre class="x-code"><code class="x-azure">glyrics -s "Snoop Dogg Gangbangin' 101"</code></pre>
</li>
</ol>
</main>
