<main class="x-message">
<p>Игра <a href="http://tesseract.gg/" target="_blank">Tesseract</a> — это стрелялка от первого лица, построенная на движке <a href="http://sauerbraten.org/" target="_blank">Cube 2: Sauerbraten</a>, отличающаяся современными технологиями отрисовки изображения. Среди них отмечаются глобальное освещение, динамические тени во все стороны, отложенное затенение и т.д.</p>
<p>Чтобы установить эту игру себе на Linux-машину, нужно сделать несколько незатейливых действий:</p>
<ol>
<li>Скачать архив с игрой для линукс на оф. сайте игры:
<a href="http://tesseract.gg/" target="_blank">http://tesseract.gg/</a><br>
<div class="x-mod__center"><img src="img/tesseract1.png"></div>
</li>
<li>Распаковать архив можно с помощью программ с графическим интерфейсом, либо через консоль командой:
<pre class="x-code"><code class="x-azure">tar xvfJ tesseract*.xz -C /opt/ &amp;&amp; cd /opt/tesseract/</code></pre>
</li>
<li>Игра требует некоторые компоненты SDL, которых может не быть в системе (у меня не было), поэтому установим их:
<pre class="x-code"><code class="x-azure">aptitude install libsdl2-2.0-0 libsdl2-mixer-2.0-0 libsdl2-image-2.0-0</code></pre>
</li>
<li>Теперь вы можете спокойно играть в игру, запустив файлик из директории <span class="x-azure">/opt/tesseract</span>:
<pre class="x-code"><code class="x-azure">./tesseract_unix</code></pre>
</li>
</ol>
<p>Удачной игры в Tesseract!</p>
</main>
