<main class="x-message">
<p>Уже в который раз меня удивляет операционная система Windows XP своей нестабильностью и неустойчивостью системы к ошибкам программ. Такое ощущение, что любая программа может делать с системой всё, что угодно, потому что ничто не запрещает ей делать это.</p>
<p>И вот недавно я у себя обнаружил, что не могу копировать/перемещать файлы в «Проводнике» перетаскиванием мышью (Drag'n'Drop). Эта весьма полезная функция исчезла внезапно и неожиданно и, если честно, ввела меня в ступор, — ведь до этого я никаких программ не устанавливал! Благо, что я люблю возиться в настройках и решение проблемы нашлось в Интернете (куда без него?)</p>

<h5>Возможные причины:</h5>
<ul>
<li>Сбились настройки в редакторе реестра (либо нужной ветки вообще нет);</li>
<li>Сбой в работе системных библиотек;</li>
</ul>

<h5>Решения:</h5>
<p>Во-первых, самый действенный способ устранения проблемы в любой Виндовс — её переустановка. Гарантия решения проблемы — 100%!</p> <p>Во-вторых, работа с командной строкой. Возможно, что команды, описанные ниже помогут решить проблемы с неработающим Drag'n'Drop'ом. Нажмите «Пуск» и выберите «Выполнить». В появившемся диалоговом окне введите <span class="x-azure">cmd</span> и нажмите [<span class="x-azure">Enter</span>]. А далее ручками на английском последовательно выполняйте команды в каждой строке:</p>

<pre class="x-code"><code class="x-azure">regsvr32 urlmon.dll
regsvr32 Shdocvw.dll
regsvr32 Msjava.dll
regsvr32 
Actxprxy.dll
regsvr32 Oleaut32.dll
regsvr32 Mshtml.dll
regsvr32 Browseui.dll
regsvr32 Shell32.dll
regsvr32 
riched20.dll</code></pre>
<p>Проблема не решилась? Не отчаивайтесь — мы ещё не редактировали реестр. Тут решение может 
содержаться в одном из способов, описанных ниже.</p> <p>«Пуск» → «Выполнить» → вводите <span class="x-azure">regedit</span> и подтверждаете. Проверяете значение установленного в ноль (<span class="x-azure">0</span>) параметра <span class="x-azure">NoCloseDragDropBands</span> в следующих ветках:</p>

<ul>
<li><code class="x-azure">HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer</code></li>
<li><code class="x-azure">HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer</code></li>
</ul>

<p>Если веток вообще нет — создайте!</p> <p>Либо проверьте значения параметров <span class="x-azure">DragHeight</span> и <span class="x-azure">DragWidth</span>, установленные в <span class="x-azure">4</span> и не установленное в <span  class="x-azure">999999</span> в ветке <span class="x-azure">HKEY_CURRENT_USER\Control Panel\Desktop</span></p> <p>А способ, который помог мне — параметр по умолчанию ветки реестра <span class="x-azure">HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4</span> со значением <span  class="x-azure">180D</span>.</p>
<p>Вот так можно наладить работу принципа «Перетащи и оставь» в Windows XP. В заключение добавлю, что некоторым помогла установка драйвера мыши.</p>
</main>
