<main class="x-message">
<p>В общем, была необходимость поставить пакет Cisco Packet Tracer уже не в <a href="http://x-doggy.blogspot.ru/2015/03/cisco-packettracer-601-debian-wheezy.html" target="_blank">Debian</a>, а на Manjaro (соответственно, на Arch тоже можно будет).
В <span class="x-azure">AUR</span>'е <a href="https://aur.archlinux.org/packages/packettracer" target="_blank">содержится</a> некоторое подобие нужного пакета, однако, оттуда мне дают скачать только снэпшот, а не готовые исходники.
Последние же не входят в снэпшот, а выкачиваются отдельно при сборке пакета, <a href="https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=packettracer" target="_blank">судя по <span class="x-azure">PKGBUILD</span></a>, из archive.org, которое провайдерами блокируется, и, соответственно, пакет не собирается.</p>

<p>Еще до всего этого приспичило мне из убунту по кусочкам собрать все необходимые продукты жизнедеятельности CPT. Ведь по сути установка пакета — это распаковка архива с указанием того, какие файлы куда должны быть распакованы. Т.е. я сделал действие обратное установке пакета.
В итоге я всё, что нужно собрал и распределил по каталогам вручную. Сам CPT запускался из <span class="x-azure">/opt/pt/</span>. «Запускается, и ладно», — подумал я и забросил это дело на месяца три.</p>

<p>Но все же меня посетила мысль собрать пакет, тем более для Arch это дело простое. Да и скилл в написании <span class="x-azure">PKGBUILD</span> повысить можно хотя бы с нуля. Короче, решил писать билд-файл на основе уже готового + какого-никакого снэпшота, а то, что я потрошевал для себя, при сборе этого пакета не пригодилось.</p>

<p>В итоге получился вот такой <a href="https://bitbucket.org/v_stadnik_v/my-own-programms/downloads/packettracer-6.3-1-x86_64.pkg.tar.xz" target="_blank">пакет</a>. Для его установки необходимо сказать:</p>

<pre class="x-code"><code class="x-azure">pacman -U packettracer-6.3-1-x86_64.pkg.tar.xz</code></pre>

<p>И далее нужно указать еще одно правило, т.к. бинарник ставится с неверными правами доступа, я не разобрался еще почему так. Поэтому:</p>
<pre class="x-code"><code class="x-azure">chmod 0775 /opt/pt/bin/PacketTracer6</code></pre>

<p>Чтобы удалить пакет, достаточно просто ввести:</p>
<pre class="x-code"><code class="x-azure">pacman -Rsc packettracer</code></pre>

<p>Вот и все дела!</p>
</main>