<main class="x-message">
<p><a href="https://github.com/Bumblebee-Project/Bumblebee" target="_blank">Bumblebee</a> — это проект по поддержке технологии <a href="http://help.ubuntu.ru/wiki/nvidia_optimus" target="_blank">NVIDIA Optimus</a> в GNU/Linux системах для сбережения энергии компьютера при работе от аккумулятора.</p>
<p>Вот несколько шагов для полноценной установки:</p>
<ol>
<li>Введите следующие команды:
<pre class="x-code"><code class="x-azure">add-apt-repository ppa:xorg-edgers/ppa
add-apt-repository ppa:bumblebee/stable
apt-get update &amp;&amp; apt-get dist-upgrade</code></pre>
<pre class="x-code"><code class="x-azure">apt-get install linux-headers-generic nvidia-331 nvidia-setings bumblebee bumblebee-nvidia bbswitch-dkms primus primus-libs:i386</code></pre></blockquote>
<pre class="x-code"><code class="x-azure">usermod -a -G bumblebee &lt;имя юзера&gt; reboot # чтобы перезагрузиться</code></pre>
</li>

<li>Отредактируйте файл <span class="x-azure">/etc/bumblebee/bumblebee.conf</span> так, чтобы строчки соответствовали:
<pre class="x-code"><code class="x-azure">Driver=nvidia

[driver-nvidia]
KernelDriver=nvidia-331
LibraryPath=/usr/lib/nvidia-331:/usr/lib32/nvidia-331 
XorgModulePath=/usr/lib/nvidia-331/xorg,/usr/lib/xorg/modules</code></pre>
</li>
</ol>
<p>Вот и всё! Теперь запускать проги можно с префиксом “<span class="x-azure">optirun</span>”, типо так:</p>
<pre class="x-code"><code class="x-azure"><i>optirun</i> firefox</code></pre>
<p>Всё!</p>
<p style="margin-top: 2em;">По мотивам <a href="https://techtuts.info/2014/06/install-bumblebee-linux-mint-17/" target="_blank">techtuts.info</a>.</p>
<p>P.S. В русской Ибунту-вики <a href="http://help.ubuntu.ru/wiki/bumblebee#ubuntu_1604" target="_blank">появилась</a> серия статей по 
настройке Bumblebee в актуальных версиях дистрибутива.</p>
</main>
