<main class="x-message">
<p>Про историю игры Duke Nukem 3D и движка Build, на котором он построен, лучше всего расскажет Дмитрий Бачило:</p>

<p style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/VavpnVmMhgo" frameborder="0" allowfullscreen></iframe></p>

<p>Чтобы установить эту игру в Manjaro, для начала нужно поставить EDuke32 — кросс-платформенный вариант движка Build для Win, OS X и Linux. Для <a href="https://www.archlinux.org/" target="_blank">Arch</a> и <a href="https://manjaro.github.io/" target="_blank">Manjaro</a> он есть в <a href="https://aur4.archlinux.org/" target="_blank">AUR</a>, поэтому поставить его через <a href="https://aur4.archlinux.org/packages/yaourt/" target="_blank">йогурт</a> не составит труда:</p>
<pre class="x-code"><code class="x-azure">yaourt -S eduke32</code></pre>
<p>(каждое действие, которое просят подтвердить — подтверждайте!)</p>
<p>Пробный запуск (если запустилось, то ОК):</p>

<p class="x-mod__center"><img src="img/eduke32_engine.png"></p>

<p>В домашней директории создалась поддиректория <span class="x-azure">.eduke32</span>, где и будет хранится всё, что нужно для запуска игры. Создадим где-нибудь в домашней папке временную подпапку <span class="x-azure">~/d/</span> для некоторых манипуляций.</p>

<p>Скачаем продукты жизнедеятельности игры и распакуем их заодно:</p>
<pre class="x-code"><code class="x-azure">mkdir ~/d/ &amp;&amp; cd ~/d/ &amp;&amp; wget ftp://ftp.3drealms.com/share/3dduke13.zip &amp;&amp; unzip 3dduke13.zip</code></pre>

<p>Установим также Dosbox и запустим <span class="x-azure">INSTALL.EXE</span>, чтобы вытащить необходимые ресурсы игры:</p>
<pre class="x-code"><code class="x-azure">sudo pacman -S dosbox &amp;&amp; dosbox INSTALL.EXE</code></pre>
<p>(просто нажимайте Enter, а как появится чёрная консоль, наберите команду <span class="x-azure">exit</span>)</p>

<p>Теперь в директории <span class="x-azure">d</span> появилась поддиректория <span class="x-azure">DUKE3D</span>, в котором находится файлик <span class="x-azure">DUKE3D.GRP</span>. Его нужно скопировать в папку с игрой:</p>
<pre class="x-code"><code class="x-azure">cp ~/d/DUKE3D/DUKE3D.GRP ~/.eduke32/</code></pre>

<p>А папка <span class="x-azure">d</span> уже не нужна, её можно удалить:</p>
<pre class="x-code"><code class="x-azure">rm -r ~/d/</code></pre>

<p>Всё! Теперь игруля должна запускаться командой в терминале: <span class="x-azure">eduke32</span>:</p>

<p class="x-mod__center"><img src="img/eduke32_manjaro_exported.png"></p>

<p>Ну и напоследок демонстрация эффекта рыбьего глаза, о котором говорил Дмитрий:</p>
<div class="x-mod__center">
<iframe frameborder="0" width="720" height="405" src="https://www.dailymotion.com/embed/video/x4927wa" allowfullscreen></iframe>
</div>

<p class="x-mod__mrgn-top">За основу взята статья: <a href="http://ubuntu-desktop.ru/?p=1767" target="_blank">http://ubuntu-desktop.ru/?p=1767</a>.</p>
</main>
