<main class="x-message">
<p>По долгу учёбы в ВУЗе мне нужно было найти способ поставить себе замечательную програмульку-симулятор построения сетей PacketTracer. Однако если установка на мой ноутбук с Mint'ом проблематичной не была, то на моём домашнем компе с Debian'ом всё оказалось не так радужно.</p>
<p>Честно говоря, этого и следовало ожидать, ведь ветка Дебиана — стабильная и пакеты там далеко не первой свежести. Мне не хочется устанавливать такие несложные программы как эта таким изощрённым способом, который показан ниже. Но тут уж ничего не поделаешь, ведь когда я ставил на домашний комп Xubuntu — там раз-через раз сбивалось разрешение экрана из 1440×900 в совсем никуда, картинка была ужастной и так жить было нельзя.</p>
<p>У меня был некоторый опыт общения с Федорой, решил поставить её. Но, загрузившись с Live-образа, куда-то падала сеть и все попытки её поднять успехом не обвенчались. Оставался только план «С» — Debian, с которым я раньше тоже общался. Да, я конечно мог поставить сразу Testing-версию и не париться ни по какому вопросу, но дело в том, что Testing'и выпускаются еженедельно в виде «срезов», которые без LiveCD/DVD, а устанавливать я научился только Debian Stable, тем более что именно в нём разрешение экрана подсосалось какое надо сразу.</p>
<p>Ну и вот, имею дело с чем приходится. Для начала установки требуется сохранить себе установщик:<br><a href="https://drive.google.com/file/d/0B-5kZl7ixcSKUFE5d1BreXJuSk0" target="_blank">https://drive.google.com/file/d/0B-5kZl7ixcSKUFE5d1BreXJuSk0</a>.</p>
<p>Далее, зайдём под <span class="x-azure">root</span> и поставим несколько необходимых библиотек:</p>
<pre class="x-code"><code class="x-azure">aptitude install ia32-libs-i386 ia32-libs-gtk-i386 libqt4-qt3support libqtwebkit4 libqtscript4-core libqtscript4-gui libqtscript4-webkit</code></pre>

<p>Теперь надо подключить <span class="x-azure">unstable</span> (<span class="x-azure">sid</span>)-ветку Дебиана и оттуда выкачать свежие библиотеки для <span class="x-azure">glibc</span>, на которые верно ругается PacketTracer, что они до безобразия старые. А для этого надо добавить строчку в файл источников ПО:</p>
<pre class="x-code"><code class="x-azure">echo "deb http://ftp.debian.org/debian sid main" >> /etc/apt/sources.list</code></pre>
<p>... установить свежие библиотеки (в процессе установки вылезет окно с “<span class="x-azure">Yes</span>” и “<span class="x-azure">No</span>” — нажимайте “<span class="x-azure">Yes</span>”):</p>
<pre class="x-code"><code class="x-azure">aptitude update &amp;&amp; aptitude -t sid install libc6 libc6-dev libc6-dbg</code></pre>

<p>... и удалить добавленную строку из списка репозиториев, чтобы разные версии пакетов между собой не конфликтовали. Для этого просто откройте любым редактором файл <span class="x-azure">/etc/apt/sources.list</span> и удалите последнюю строчку, не забыв после сделать:</p>
<pre class="x-code"><code class="x-azure">aptitude update</code></pre>
<p>А потом <span class="x-azure">exit</span>, чтобы из-под <span class="x-azure">root</span>'а выйти.</p>
<hr>
<p>Теперь можно запустить установщик из папки куда вы его сохранили (он очень простой, думаю, вы сами в нём разберётесь):</p>
<pre class="x-code"><code class="x-azure">./cp_6_1.bin</code></pre>
<p>Если всё прошло удачно, то вы увидите примерно следующие окошки:</p>

<p class="x-mod__center"><img src="img/cisco1.png"></p>
<p class="x-mod__center"><img src="img/cisco2.png"></p>

<p>Слава богу, что получилось хоть как-то поставить полезную для меня программулю. Очень её вам советую, она понятная и удобная!</p>
</main>
