<main class="x-message">
<p>По умолчанию в штатной установке Дебиана идёт древний LibreOffice версии 3, я желал установить свежий (на момент публикации версия была 4.3.3.2).
Как оказалось, офис устанавливается просто, без подключения репозиториев сторонних разработчиков, а лишь «родным» из backports.</p>
<p>Для начала необходимо удалить старую версию:</p>
<pre class="x-code"><code class="x-azure">aptitude purge libreoffice* &amp;&amp; apt-get autoremove</code></pre>
<p>Далее надо прописать backports-репозиторий Дебиана в список репозиториев (нужно это сделать под суперпользователем!):</p>
<pre class="x-code"><code class="x-azure">echo 'deb http://ftp.debian.org/debian/ wheezy-backports main contrib non-free' &gt;&gt; /etc/apt/sources.list
echo 'deb-src http://ftp.debian.org/debian/ wheezy-backports main contrib non-free' &gt;&gt; /etc/apt/sources.list
aptitude update # обновить список пакетов</code></pre>
<p>Осталось установить LibreOffice одной командой:</p>
<pre class="x-code"><code class="x-azure">aptitude -t wheezy-backports install libreoffice libreoffice-help-ru libreoffice-l10n-ru</code></pre>
<p>Вот и всё!</p>
</main>
