<main class="x-message">
<p>Если в вашем линуксе флешка (или что-то ещё) отображается как «Устройство с четырьмя гигабайтами памяти», то переименовать это проще простого. Для этого подойдёт консольная утилита <span class="x-azure">e2label</span>.</p>

<h5>Инструкция из двух шагов:</h5>
<ol>
<li>В <span class="x-azure">dmesg</span>'е ищите имя устройства, обозначающее флешку (что-то типа <span class="x-azure">sdb</span>) и нужный раздел (напр. <span class="x-azure">sdb1</span>).</li>
<li>Печатаете:
    <pre class="x-code"><code class="x-azure">sudo e2label /dev/sdb1 <span style="color: #f00">имя_флешки</span></code></pre>
</li>
</ol>

</main>
