<main class="x-message">
<p>Было время, когда на моем стареньком компьютере стояла моя любимая ubuntu linux. Однажды мне необходимо было подключить винчестер и скинуть туда данные. Он был не новый, а довольно старого порядка, с объемом данных 40 ГБ. Я предполагать не мог, что у меня с подключением и монтированием будут проблемы. Однако проявил ловкость и сноровку и смог буквально за час подключить успешно диск.</p>
<p>Проблема заключалась в том, что система не знала как и куда монтировать мой винчестер (при условии того, что он был подключен правильно и система «видела» его). Сперва я перепугался, поскольку линуксоид я пока начинающий и с подобной проблемой столкнулся впервые. Решив, что лучше всего взять себя в руки, я полез в диспетчер устройств и в разделе жестких дисков я увидел два подключенных раздела: тот, на котором лежит вся система и, собственно, проблемный диск. Причем, напротив проблемного диска была кнопка «монтировать». Нажав на нее, я увидел следующее изречение системы:</p>
<blockquote class="x-azure"><q>Mount: according to mtab, /dev/sdb1 is already mounted on /</q></blockquote>
<p>Без труда переведя на русский, я понял, что система монтирует подключенный диск туда, где смонтирован раздел с операционной системой. Немного поясню:</p>
<dl>
    <dt class="x-azure">/dev/sdb1</dt>
    <dd>жесткий диск с операционной системой (диск, который я подключил назывался <span class="x-azure">/dev/sda1</span>);</dd>
    <dt class="x-azure">/</dt>
    <dd>корневая директория файловой системы <span class="x-azure">ext4</span>;</dd>
    <dt class="x-azure" title="/etc/mtab">mtab</dt>
    <dd>имеется в виду <span class="x-azure">/etc/mtab</span>, в котором видны все директории, в которые подключены диски;</dd>
    <dt class="x-azure">mount</dt>
    <dd>команда для монтирования дисков в директории. Без параметров командой строки вызывается <code class="x-azure">cat /etc/mtab</code>.</dd>
</dl>
<p>Немного пошарив в Интернете, я узнал про файл <span class="x-azure">fstab</span>, который отображает на всех подключенных устройствах их файловые системы. Теперь всё, что мне оставалось сделать — это правильно отредактировать эти два конфигурационных файла.</p>

<h5>Как я это сделал</h5>
<p>Первое, что нужно сделать в подобной ситуации — создать директорию, куда будет смонтирован раздел нового устройства. Лучше всего это делать в папке <span class="x-azure">/media/</span>. Для себя я обозвал директория просто — <span class="x-azure">disk1</span> (<span class="x-azure">/media/disk1/</span>). Команда для терминала:</p>
<pre class="x-code"><code class="x-azure">sudo mkdir /media/disk1</code></pre>
<p>Осталось приступить к главному. Узнал что куда примонтировано в данный момент командой <span class="x-azure">mount</span>:</p>
<pre class="x-code"><code class="x-azure">mount</code></pre>
<p>Вывелась одна строчка — запись о монтировании диска с ОС. И больше ничего. Всё правильно, ведь система не знала куда монтировать диск.</p>
<p>Принялся за <span class="x-azure">fstab</span>:</p>
<pre class="x-code"><code class="x-azure">sudo gedit /etc/fstab</code></pre>
<p>И увидел там вот такое:</p>
<pre class="x-code"><code class="x-azure">/dev/sdb1 &nbsp;/ &nbsp;ext4 &nbsp;rw, errors=remount-ro 0 0</code></pre>
<p>Это запись показывает, что имеется подключенный винчестер (в моем случае — с ОС). Ну, осталось дописать туда вариант, который я нашел на просторах Интернета:</p>
<pre class="x-code"><code class="x-azure">/dev/sdb1 &nbsp;/media/disk1 &nbsp;ntfs-3g &nbsp;rw,nosuid,nodev,allow_other,default_permissions,blksize=4096 0 0</code></pre>
<p>Вообще, эта запись состоит из: устройства, директории монтирования, типа файловой системы и прочих параметров. Сохранив конфиги, перезапустив компьютер, я убедился, что всё получилось! Ярлык подключенного мною винчестера сразу появился на рабочем столе и все-таки я смог удачно скопировать свои данные!</p>
<p><b>P.S.</b> Хорошая статья о монтировании дисков в Ubuntu на Убунтоводе: <a href="http://ubuntovod.ru/instructions/mount-ubuntu.html" title="Перейти по ссылке на статью на Убунтоводе (откроется в новой вкладке)" target="_blank">http://ubuntovod.ru/instructions/mount-ubuntu.html</a>.</p>
</main>
