<main class="x-message">
<div class="x-warning">
<p>С течением времени стало понятно, что проблема с дровами вызвана не готовностью пакетов для обновления в тот момент (т.е. они были доступны из репозитория через http, но ссылки на вики на них не было).</p>
<p>Кеды падали всегда, особенно пятые, особенно на тогдашней стали развития. Учесть ещё то, что KDE-спин собрали никак.</p>
<p>Сейчас дела с федей обстоят лучше, особенно в каноничном гноме. Но проблема с количеством софта так и не решилась.</p>
</div>
<p>Пытался поставить всего-лишь дрова на дискретную видюху у ноутбука, соответственно понадобился Bumblebee. Инструкция по установке на федора вики не оказалась полной, пришлось рыться в пакетах и доустанавливать нужные ручками. Тут их новый пакетный менеджер еще тупой: ищет правильно, а ставит версию архитектуры i686 (система 64 бит, где логика???).</p>
<p>В общем, поставились дрова как обычно, да только посыпались ошибки (см. скрин), которые:</p>
<ul>
<li>Не должны были появиться, ибо конфиги все нормальные;</li>
<li>Плохо гуглятся и если что-то удалось накопать, то решения всё-равно не работают.</li>
</ul>

<p>Короче, всё здесь плохо, ни дрова, ни PacketTracer, ни дум, ни кваку толком не поставить, потому что все пакеты собраны под Дебиан. Нужного мне PacketTracer'а версии 6.0.1 нет даже на торрентах, а для 5-ой версии нужны старые либы.
Даже в целом система грузится медленно, а Plasma 5 падает постоянно.</p>
<p>Хотелось систему со свежим софтом, чтоб было актуальное ядро и чтоб не приходилось долго настраивать под себя (поэтому мне не нужны: Ubuntu, Debian (старый софт), Arch (долго настраивать) и т.п.). Fedora удовлетворяет этим требованиям, но кто ж знал, что она такой глючной окажется? (В LiveUSB всё было ОК)!</p>
<p>Странно, что я довольно долго пользовался Fedora 20 и не испытывал подобных проблем, они же появились после обновления нa F21.</p>
<p>Итого, система не для людей!</p>

<p class="x-mod__center">
<img src="img/fuck_fedora.jpg">
<img src="img/i_am_evil.jpg" style="height: 340px;">
</p>
</main>
