<main class="x-message">
<p>Современные дистрибутивы на базе ядра Линукс прекрасно умеют работать с флешками: вы можете подключить к компьютеру, появится уведомление об обнаруженном устройстве, перейдёте в смонтированную для флешки в папке <span  class="x-azure">/media</span> директорию и всё замечательно! Однако, в дистрибутиве Линукс Минт 15 с каждой флешкой происходило что-то непонятное: папке монтирования присваивалось длинное имя с кракозябрами, с самим устройством можно было работать только от root'а, нельзя было даже ОТ ROOT'А ИЗМЕНИТЬ ПРАВА ПОЛЬЗОВАТЕЛЯ!</p>
<p>Получается, что флешку подключает пользователь, а работать с ней можно только суперпользователю (<span class="x-azure">root</span>), и то с натяжкой.</p>
<p>Что же это может быть?</p>
<p>Виновато в данном случае может быть один из данных установленных пакетов:
<span class="x-azure">usb-creator</span>,
<span class="x-azure">usbmount</span>,
<span class="x-azure">gnome-pilot</span>.
<p>В моём случае системой был установлен пакет usbmount, который был удалён мною:</p>
<pre class="x-code"><code class="x-azure">sudo apt-get remove usbmount</code></pre>
<p>После удаления пакета все проблемы с флешками исчезли!</p>
</main>
