<main class="x-message">
<p>Установив Федору, не мог найти пакет <span class="x-azure">doublecmd</span> в официальном репозитории Fedora и даже в RPMFusion. Решение нашлось довольно быстро — в отдельном репозитории OpenSUSE. Всего три простых команды для установки:</p>
<pre class="x-code"><code class="x-azure">cd /etc/yum.repos.d/
wget http://download.opensuse.org/repositories/home:Alexx2000/Fedora_20/home:Alexx2000.repo
sudo yum install doublecmd-qt</code></pre>
<p><b>Источник:</b> <a href="http://software.opensuse.org/download.html?project=home%3AAlexx2000&package=doublecmd-qt" target="_blank">software.opensuse.org</a>.</p>
<p><b>P.S.</b> Там же можно найти команды для установки в OpenSUSE, Debian и Ubuntu.</p>
</main>
