<main class="x-message">
<p>Для начала нужно перейти по ссылке:<br>
<a href="https://confluence.jetbrains.com/display/CLION/Early+Access+Program" target="_blank">https://confluence.jetbrains.com/display/CLION/Early+Access+Program</a><br>
и кликнуть по ссылке в разделе загрузки для Linux:</p>
<p class="x-mod__center"><img src="img/clion01.png"></p>
<p>Потом полученный архив нужно распаковать командой (и сразу удалить, чтоб не занимать на диске лишнего места):</p>
<pre class="x-code"><code class="x-azure">sudo tar xvfz clion-*.gz -C /opt/ &amp;&amp; rm clion-*.gz</code></pre>
<p>Далее перейдём в каталог с установщиком:</p>
<pre class="x-code"><code class="x-azure">cd /opt/clion/bin</code></pre>
<p>Там установим права на запуск и запустим установочный скрипт:</p>
<pre class="x-code"><code class="x-azure">sudo chmod +x ./clion.sh &amp;&amp; ./clion.sh</code></pre>

<p>Следуйте простым инструкциям по установке:</p>
<p class="x-mod__center"><img src="img/clion02.png"></p>
<p class="mrgn">Выбирайте второй вариант, т.к. вы устанавливаете эту среду в первый раз. Кстати, среда будет периодически обновляться и обновлять нужно так же, в том случае лучше выбрать первый вариант, чтобы имортировать ваши старые настройки.</p>

<p class="x-mod__center"><img src="img/clion03.png"></p>
<p class="mrgn">На этом шаге я предпочитаю выбирать тему “Darcula”, вы же выбирайте по своему вкусу.</p>

<p class="x-mod__center"><img src="img/clion04.png"></p>
<p class="mrgn">Здесь проверка необходимых компонентов для программирования. Проверьте, чтобы везде стояли галочки напротив нужных компонентов (<span class="x-azure">make</span>, <span class="x-azure">cc</span>, <span class="x-azure">c++</span>, <span class="x-azure">gdb</span>).</p>

<p class="x-mod__center"><img src="img/clion05.png"></p>
<p class="mrgn">Здесь ничего не меняем, просто продолжаем.</p>

<p class="x-mod__center"><img src="img/clion06.png"></p>
<p class="mrgn">И здесь тоже.</p>

<p class="x-mod__center"><img src="img/clion07.png"></p>
<p class="mrgn">Я предпочитаю создавать значок запуска в системе.</p>

<p class="x-mod__center"><img src="img/clion08.png"></p>
<p class="mrgn">Ну вот, этап основной настройки пройден! Далее уже запустится сам CLion с таким окошком.</p>

<p class="x-mod__center"><img src="img/clion09.png"></p>
<p class="mrgn">Теперь можно создать новый проект... и начать программировать!</p>

<p class="x-mod__center"><img src="img/clion10.png"></p>
<p class="mrgn">Вот так выглядит среда CLion с советами, я их всегда отключаю.</p>

<p>Ну вот мы и установили CLion! Это крайне удобная и мощная среда, она мне нравится! Удачи в программировании в ней!</p>
</main>
