<main class="x-message">
<p>Недавно у моего друга случилась проблема, когда видна слетала и выдавала следующую ошибку:</p>
<blockquote class="x-azure">Не удается запустить Windows из-за испорченного или отсутствующего файла \WINDOWS\SYSTEM32\CONFIG\SYSTEM. Можно попробовать восстановить этот файл, запустив программу установки windows с оригинального установочного cd-rom, выберите r в первом диалоговом окне</blockquote>
<p>Короче говоря, система слетела и просит вас переустановить саму себя. Скорее всего, вы:</p>

<ul>
<li>Неправильно выключали компьютер;</li>
<li>Наделали проблем с жестким диском;</li>
<li>Запустили вирус и тот повредил важный системный файл.</li>
</ul>

<p>Пункт 3 предпочтительнее и он встречается чаще всего.</p>

<h5>Решаем проблему</h5>
<p>Во-первых, оговорюсь, что вам понадобится установочный диск в виндой. Без него никак проблему не решить.</p>
<p>Если он у вас есть, то вставьте его в привод, перезагрузитесь. В фазе включения компьютера перезагрузки войдите в БИОС, нажав клавишу [Delete]. В разделе загрузки системы выберите такой порядок загрузки, чтобы ваш привод был первым в списке. Выйдите в главное меню, выберите «Save Settings and Exit» (этот пункт может звучать как угодно еще), подтвердите выход.</p>
<p>Далее произойдет запуск с системного диска. После того, как вы немного подождали и появилось сообщение о принятии решений что делать дальше, нажмите клавишу [<span class="x-azure">r</span>]. Загрузится темный экран с командной строкой. Там войдите в администратора системы, введите пароль (если он есть), следуя подсказкам системы.</p>
<p>Далее проявите всю свою сноровку, точность и аккуратность, последовательно введя последующие три команды:</p>
<pre class="x-code"><code class="x-azure">copy c:\windows\system32\config\system c:\windows\system32\config\system.old
delete c:\windows\system32\config\system
copy c:\windows\repair\system c:\windows\system32\config\system</code></pre>
<p>Этими командами мы:</p>
<ul>
<li>Переименовали системный файл, чтобы не было конфликта при копировании другого;</li>
<li>Удалили системную директорию;</li>
<li>Из папки починки системы восстановили обратно важные системные файлы.</li>
</ul>
<p>Теперь загрузка должна пойти нормально. После удачного входа в систему переустановите <i>все</i> системные драйверы (для мыши, монитора, сетевой платы и т.д.). После этого можно считать, что система удачно восстановлена!</p>
</main>
