<main class="x-message">

<p class="x-warning">Статья потеряла актуальность и предложенные методы не работают!</p>

<p>В то время, пока <a href="http://www.jetbrains.com/" target="_blank">JetBrains</a> не предоставляют EAP-билд среды <a href="http://www.jetbrains.com/clion/" target="_blank">CLion</a>, есть возможность пользоваться пробной 30-дневной версией. Однако, по истичении этих 30-ти дней средой можно пользоваться только в течение 30 мин., что неудобно и неприятно. Решением проблемы мог бы стать сброс настроек регистрации CLion. И эта задача вполне себе решается, причём этот хак можно повторить и с <a href="http://www.jetbrains.com/pycharm/" target="_blank">PyCharm</a> (наверное, и с <a href="http://www.jetbrains.com/idea/" target="_blank">IDEA</a> и <a href="http://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a>).</p>
<p>Решение состоит в удалении 2-х директорий в домашней папке юзера:</p>

<pre class="x-code"><code class="x-azure">rm -r ~/<span style="background-color: yellow;" title="Здесь вообще должно быть имя папки соответствующей среды, которая есть у вас">.clion10</span>/config/eval
rm -r ~/.java/.userPrefs/</code></pre>

<p>После этих действий ЦЛион заработал сразу как предполагалось мною:</p>

<p class="x-mod__center"><img src="img/clion_licence_activation.png"></p>
<p class="x-mod__center"><img src="img/clion_accept.png"></p>

</main>
